@charset "UTF-8";
body {
    background-color: #EEEEEE;
    height: 100%;
}
section {
    padding : 63px 0;
}
.card {
    margin : 0 auto;
    padding: 20px;
    width : 990px;
    height: 480px;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    margin: auto;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    background-color: #FBFBFB;
}
section div,form{
    display: inline-block;
}
input {
    border : none;
    font-size: 1.2em;
    border-bottom : 1px solid gray;
}
#logo {
    width: 40%;
    display: block;
    margin: 30px;
}
/*form tg css*/
form {
    width : 450px;
    margin : 3em 0 30px 3em;
}
.half input{
    width : 150px;
}
.inputBox {
    margin-top: 17px;
}
form span{
    font-size : 10px;
    display: block;
}
input[type = "password"], input[type = "email"]{
    width : 350px;
    background-color: #FBFBFB;
} 
/*form tg css end*/
/*img tg css*/
#img{
    height: 60%;
    margin-top: 2em;
    margin-right: 2em;
    float: right;
}
#buttonDiv {
    margin-top: 2em;
    display: block;
    text-align: right;
}
#buttonDiv span {
	color: #757575;
	text-align: left;
	font-size: inherit;
	float: left;
	position: absolute;
	padding: 10px 0;
}
#buttonDiv span a {
	color: #4285f4;
	text-decoration: none;
	margin-left: 2px;
}
#buttonDiv span a:active {
	background-color: #6ec6ff;
	
}
#LoginButton {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    background-color: #4285f4;
    color: white;
}
#buttonDiv input {
    margin:0 5px;
    height: 50px;
    width: 90px; 
}
/*img tg css end*/
footer{
    border-top: none;
    bottom: 0;
    display: block;
    position: absolute;
    text-align: center;
    width: 100%;
    background-color: #EEEEEE;
}
.copy {
    font-size: 1em;
}
.alter-inputError {
	color: red;
	font-size: 0.9em;
}